<%- include("header") -%>
<body>
<form action="/login" method="get">
    <input type="text" name="username" placeholder="Username" />
    <input type="password" name="password" placeholder="Password" />
    <button type="submit">Login</button>
  </form>
</body>
  